page-sign-up {
    h1{
        text-align: center;
    }
    
    .label{
        margin-top: 4% !important;
        margin-left: 25% !important;
        margin-left: 100px;
        font-size: 20px;
    }
    ion-input{
        margin-left: 25%;
        background-color: #edf1f7;
        width: 50%;
    }

    #login{
        margin-left: 25% !important;
    }

    button{
        margin-top: 3% !important;
    }

        #check{
      
            display: block !important;
            margin-left: 352px;
     
        }
    }


